<div class="row vh-100 align-items-center" id="education-page">
  <div class="col">
    <div class="h1 text-primary">Education</div>
    <div class="container-fluid pt-3">
      <div class="row align-items-end pt-2">
        <div class="col">
          <div class="h3">Developer Certificate</div>
          <div class="">ITPEC- 2020</div>
          <div class="pt-2">
            The ITPEC Developer Certificate validates software development
            skills, covering programming, algorithms, databases, and system
            design. Recognized in Asia, it boosts employability and demonstrates
            proficiency in IT problem-solving.
          </div>
        </div>
      </div>
      <div class="row align-items-end pt-2">
        <div class="col">
          <div class="h3">Mobile Phone Service</div>
          <div class="">Global IT- 2022</div>
          <div class="pt-2">
            I am certified in mobile phone servicing, specializing in Android
            hardware and software maintenance. My skills include
            troubleshooting, repairing hardware issues, resolving software
            problems.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
