<div class="row vh-100 align-items-center" id="about_page" style="">
  <div class="col-lg text-lg-end text-center row-sm">
    <img
      class="object-fit-contain w-50"
      id="about_me_masterpiece_photo"
      src="./assets/img/masterpiece.jpg"
    />
  </div>
  <div class="col-lg-7 text-lg-start text-center">
    <div class="h1 text-primary">ABOUT ME</div>
    <div class="h3 mt-1">A FULL STACK DEVELOPER</div>
    <div class="">
      I am a junior full stack developer skilled in HTML, CSS, JavaScript,
      Angular, Python, Java, Spring, Hibernate, SQL, and Flutter. I specialize
      in building user-friendly, scalable web and mobile applications, solving
      challenges, and delivering efficient solutions tailored to client needs.
    </div>
    <div class="mt-5">
      <Table class="table">
        <tbody>
          <tr>
            <td>Name: Thein Than Hlan</td>
            <td>Birthday: 3 / 5 / 2004</td>
          </tr>
          <tr>
            <td>Exp: 2 Years</td>
            <td>Address: North Okkalapa,Yangon</td>
          </tr>
          <tr>
            <td>Phone: <a href="tel:+959976373057">+959 976-373-057</a></td>
            <td>
              Email:
              <a href="mailto:theinthanhlan1&#64;gmail.com">
                theinthanhlan1&#64;gmail.com</a
              >
            </td>
          </tr>
        </tbody>
      </Table>
    </div>
  </div>
</div>
