<div class="row vh-l-100 align-items-center" id="education-page">
  <div class="col">
    <div class="h1 text-primary">Projects</div>
    <div class="container-fluid pt-3">
      <div class="row align-items-end pt-2">
        <div class="col">
          <div class="h3">Note Taking System</div>
          <div class="">2020</div>
          <div class="pt-3">
            I developed this software as part of my school project, using
            Angular for the front-end and Java/Spring REST with Hibernate ORM
            for the back-end. The application focuses on providing efficient and
            scalable solutions, demonstrating my skills in full-stack
            development.
          </div>
        </div>
      </div>
      <div class="row align-items-end pt-3">
        <div class="col">
          <div class="h3">Restaurant Management System</div>
          <div class="">2022-2023</div>
          <div class="pt-2">
            I initially developed this software for my family restaurant using
            Angular for the front-end and Java/Spring with Hibernate for the
            back-end. However, it faced performance issues and lacked platform
            support. To address these challenges, I decided to redevelop the
            application using Flutter to enhance performance and ensure
            cross-platform compatibility.
          </div>
          <div class="pt-3">
            link :
            <a href="https://github.com/TheinThanHlan/RMMS.git"
              >Restaurant Management System</a
            >
          </div>
        </div>
        <div class="row align-items-end pt-3">
          <div class="col">
            <div class="h3">Flutter Project Generator</div>
            <div class="">2023-now</div>
            <div class="pt-2">
              In addition to the POS system, I developed the Flutter Project
              Generator Tool to streamline project creation. This tool
              automatically generates essential components like DAO, model,
              controller, and database schema based on a configuration file,
              simplifying the setup and development process for new flutter
              projects.
            </div>
          </div>
          <div class="pt-3">
            link :
            <a href="https://github.com/TheinThanHlan/fluprojg.git"
              >Flutter Project Generator</a
            >
          </div>
        </div>
        <div class="row align-items-end pt-3">
          <div class="col">
            <div class="h3">General Pos</div>
            <div class="">2023-now</div>
            <div class="pt-2">
              I developed this software to streamline operations in my family
              restaurant using Flutter for the front-end and SQLite for the
              database. The application handles basic functions like sales
              processing, voucher printing, and saving transaction data.
              Additional features are currently being developed to further
              enhance its capabilities.
            </div>
            <div class="pt-3">
              link :
              <a href="https://github.com/TheinThanHlan/GeneralPos.git"
                >Flutter Project Generator</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
