<div
  class="row vh-100 align-items-center"
  id="info_page"
  style="background-color: #ccffff"
>
  <div class="col-lg text-lg-end text-center">
    <img
      class="rounded-circle w-50"
      id="tth_passport_photo"
      src="./assets/img/tth_passport_photo.jpg"
    />
  </div>
  <div class="col-lg-7 text-lg-start text-center">
    <div class="fs-3">I'm</div>
    <div class="fs-1">Thein Than Hlan</div>
    <div (click)="download()" class="btn btn-primary">Download Resume</div>
  </div>
</div>
